<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newww</title>
    <link rel="stylesheet" href="./new.css">
</head>
<body>
    <h1>Let's Update with More information</h1>
    <form  actio="/new"  method="post">
        <label for="isbn">ISBN Number</label>
        <input type="number" name="isbn">
        <label for="title">Title</label>
        <input type="text" name="title">
        <label for="author">Author </label>
        <input type="text" name="author">
        <label for="summary">Summary</label>
        <textarea name="textarea" ></textarea>
        <div>
        <button id="add" type="submit" formaction="/submit">Add new</button>
        <button id="update" type="submit" formaction="/update">Update</button>
        <button  id="delete" type="submit" formaction="/delete">Delete</button>
        </div>
    </form>
</body>
</html>